RewriteEngine On
RewriteBase /website_khoa/

# Bỏ qua các request tài nguyên tĩnh trong thư mục public / assets / storage
RewriteCond %{REQUEST_URI} !^/(public|assets|storage)(/|$) [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [QSA,L]