.image {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.4s ease;
}

.image-wrapper:hover .image {
  transform: scale(1.03);
}

.sub-header {
  color: var(--primary-foreground);
  background-color: var(--banner-background);
}

.main-header {
  background-color: var(--background);
}

.web-logo {
  width: 4rem;
  height: 4rem;
}

.uni-name {
  color: var(--muted-foreground);
}

.search-bar {
  background: #e5e7eb;
  width: 16rem;
  height: 2.5rem;
  color: var(--muted-foreground);
  transition: outline 100ms ease;
}

.search-bar__icon {
  color: var(--muted-foreground);
  width: 1rem;
  height: 1rem;
}

.search-bar__input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.search-bar:focus-within {
  outline: var(--ring);
  outline-offset: -1px;
}

.navbar {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar__item {
  cursor: pointer;
  color: var(--muted-foreground);
}

.navbar__item--active {
  color: var(--secondary);
  border-bottom: 2px var(--secondary) solid;
}

.navbar__item .dropdown-icon {
  transition: transform 250ms ease;
}

.navbar__item:hover .dropdown-icon {
  transform: rotate(-180deg);
}

.navbar__item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu {
  border: none;
  overflow: hidden;
  top: 100%;
  transform: translateY(-8px);
  width: 15rem;
  background: var(--background);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease;
}

.dropdown-menu__item:hover,
.dropdown-menu__item:hover .dropdown-menu__icon {
  color: var(--primary-foreground);
  background: var(--primary);
}

.section-badge {
  color: var(--primary);
  background: var(--accent);
}

#hero-section {
  background: linear-gradient(90deg, #1C398E 0%, #1447E6 100%);
}

.wave-container {
  display: block;
  width: 100%;
  height: 60px;
}

.wave {
  width: 100%;
  height: 100%;
}

.number-of-text {
  color: var(--border-gray)
}

#about-section .about-container {
  gap: 6rem;
}

.about-item>* {
  flex: 1;
}

.about-item__sub-title {
  color: #155DFC;
  letter-spacing: 0.0375rem;
}

.about-item__content {
  color: #4A5565;
}

.about-item__card {
  bottom: 0;
  right: 0;
  transform: translate(15%, 20%);
  max-width: 12rem;
  background-color: var(--background);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.about-item__card-main-content {
  color: var(--primary);
}

.about-item__card-sub-content {
  color: var(--muted-foreground);
}

#featured-news {
  margin-bottom: 96px;
}

.news__item {
  height: 320px;
}

.news__item--tag {
  background-color: var(--background);
  color: var(--foreground);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 0.5rem;
}

.news__item--overlay {
  background: var(--black-gradient);
}

.news__item .news__item--title {
  line-height: 28px;
}

.news__item .news__item--subtitle {
  line-height: 24px;
}

#featured-news a.news__item:nth-child(1) .news__item--overlay {
  background-image: var(--blue-gradient);
}

#featured-news a.news__item:nth-child(1) .news__item--tag {
  background-color: var(--primary);
  color: var(--background);
}

#featured-news a.news__item:nth-child(2) .news__item--overlay {
  background-image: var(--purple-gradient);
}

#featured-news a.news__item:nth-child(2) .news__item--tag {
  background-color: var(--purple);
  color: var(--background);
}

#featured-news a.news__item:nth-child(3) .news__item--overlay {
  background-image: var(--green-gradient);
}

#featured-news a.news__item:nth-child(3) .news__item--tag {
  background-color: var(--green);
  color: var(--background);
}

#featured-news>.news__item {
  height: 500px;
  border-radius: 38px;
}

#featured-news>.news__item .news__item--overlay {
  background-image: var(--blue-from-left-gradient);
}

#featured-news>.news__item .news__item--tag {
  background-color: #fc1515;
  color: var(--background);
}

#featured-news>.news__item .news__item--title {
  width: 640px;
  line-height: 48px;
}

#featured-news>.news__item .news__item--subtitle {
  width: 640px;
}

footer {
  background-color: var(--footer-background);
}

.footer-content__item {
  width: 260px;
}

.footer-content__logo {
  height: 3rem;
  width: 3rem;
}

.footer-copyright {
  border-top: #1e2939 1px solid;
}