# Định tuyến tới public/index.html
# Bật mod_rewrite của Apache
RewriteEngine On

# Chỉ rewrite khi KHÔNG PHẢI file/thư mục thực tế
# `!-f`: không phải file
# `!-d`: không phải thư mục
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Kiểm tra bằng biểu thức chính quy (Regex)
# ^: bắt đầu chuỗi
# (.*): Tất cả ký tự 0+ lần (được đánh dấu thành $1)
# [QSA,L]: [Query String Append (giữ nguyên tham số truy vấn), dừng xử lý rule tiếp theo]
# Ch
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Bảo vệ file .htaccess
<Files ".htaccess">
  Order allow,deny
  Deny from all
</Files>